<script>
 var userid = #{if connected}${connected.id}#{/if} #{else}-1#{/else} 		
</script>
<script id="template-app-home" type="text/x-handlebars-template">
	Hjem
</script>

<script id="template-app-tasks" type="text/x-handlebars-template">
	Tasks
</script>

<script id="template-app-messages" type="text/x-handlebars-template">
	Messages
</script>

<script id="template-register" type="text/x-handlebars-template">
	<div data-role="fieldcontain">
		<label for="textinput1">
			 Admin user
		</label>
		<input name="" id="useremail" placeholder="Username" value="" type="text">
	</div>
	<div data-role="fieldcontain">
		<label for="textinput2">
			 Password
		</label>
		<input name="" id="userpassword" placeholder="Password" value="" type="text">
	</div>
	<input id="btnReg" type="submit" value="Register" class="btn">
</script>

<script id="template-welcome" type="text/x-handlebars-template">
	Welcome {{name}}
	<input id="btnLogout" type="submit" value="Logout" class="btn">
</script>

<script id="template-startreg" type="text/x-handlebars-template">
   <a id="btnLogin" data-role="button" href="#page1" class="btn">
       Log in
   </a>
   <a id="btnNewFamily" data-role="button" href="#page1" class="btn">
       Register new family
   </a> 
</script>


<script id="template-app-timer" type="text/x-handlebars-template">
    <h1 id="timer">00:00:00</h1>
    <div id="timerbar" class="timerbar">
        <div id="timerFiller" class="fillerbar">&nbsp;</div>
    </div>
    <button name="startTimer" id="start" style="display: none;" class="btn btn-success btn-large btn-block">Start</button>
    <button name="stopTimer" id="stop" style="display: none;" class="btn btn-danger btn-large btn-block">Stop</button>
</script>