#{extends 'main.html' /}
#{set title:'ScreenTimer' /}
#{set 'moreScripts'}
    <script id="some-template" type="text/x-handlebars-template">
       <!-- <table>
          <thead>
            <th>Username</th>
            <th>Real Name</th>
            <th>Email</th>
          </thead>
          <tbody>
            {{#users}}
              <tr>
                <td>{{username}}</td>
                <td>{{firstName}} {{lastName}}</td>
                <td>{{email}}</td>
              </tr>
            {{/users}}
          </tbody>
        </table>-->
        <div class="container">
            <row class="span4">
                <div class="tabbable">
                <div class="tab-content">
                        <div class="tab-pane active" id="1">
                            <p>Welcome</p>
                            <p><a href="#5" data-toggle="tab">Register familie</a></p>
                        </div>
                        <div class="tab-pane" id="2">
                            <p>Showing time</p>
                        </div>
                        <div class="tab-pane" id="3">
                            <p>Showing points</p>
                        </div>
                        <div class="tab-pane" id="4">
                            <p>Tasks</p>
                        </div>
                        <div class="tab-pane" id="5">
                            <p>Register family</p>
                            <form class="well" action="#6"> 
                                <label>Admin user</label>  
                                <input type="text" class="span3" placeholder="Name of admin user…" id="adminid"> 
                                <label>Password</label>  
                                <input type="text" class="span3" placeholder="Passwod…"> 
                                <label>Confirm password</label>  
                                <input type="text" class="span3" placeholder="Confirm password…"> 
                                <button class="btn btn-primary" data-toggle="button" id="regbutton" >Register</button>
                            </form>
                        </div>
                        <div class="tab-pane" id="6">
                            <label>User</lable>
                            <button class="btn btn-primary"  action="" data-toggle="tab">Add family memeber</button>
                        </div>
                    </div>
                    <ul class="nav nav-pills">
                        <li class=""><a href="#2" data-toggle="tab">Time</a></li>
                        <li class=""><a href="#3" data-toggle="tab">Points</a></li>
                        <li class=""><a href="#4" data-toggle="tab">Tasks</a></li>
                    </ul>
                    
                </div>
            </div>
        </div>
        
      </script>

    <script id="timer-layout" type="text/x-handlebars-template">
        <div class="span12">
            <div class="row-fluid">
                <h1 id="timer">00:00:00</h1>

                <div id="timerbar" class="timerbar">
                    <div id="timerFiller" class="fillerbar">&nbsp;</div>
                </div>

                <div id="overtime" style="display: none;">
                    <h1>Overtime</h1>
                </div>

                <button name="startTimer" id="start" style="display: none;" class="btn btn-success btn-large btn-block">Start</button>
                <button name="stopTimer" id="stop" style="display: none;" class="btn btn-danger btn-large btn-block">Stop</button>

            </div>
        </div>
    </script>

    <script id="overtime-layout" type="text/x-handlebars-template">
        <div class="span12 warning">
            <div class="row-fluid">

                <h1>Overtime</h1>

                <button name="startTimer" id="start" style="display: none;" class="btn btn-success btn-large btn-block">Start</button>
                <button name="stopTimer" id="stop" class="btn btn-danger btn-large btn-block">Stop</button>

            </div>
        </div>
    </script>
#{/set}

